/
adb-windows.zip
DirectML.dll
fastdeploy_ppocr.dll
filelist.txt
MAA.exe
MaaCore.dll
onnxruntime_maa.dll
opencv_world4_maa.dll
adb/platform-tools/adb.exe
adb/platform-tools/AdbWinApi.dll
adb/platform-tools/AdbWinUsbApi.dll
config/gui.json
config/gui.json.bak
config/gui.new.json
config/gui.new.json.bak
debug/asst.bak.log
debug/asst.log
debug/gui.bak.log
debug/gui.log
debug/drops/2024-05-15_06-12-41-403_raw.png
debug/
Python/
